@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2 style="color: cornflowerblue">@ViewData["Title"]</h2>
<h3 style="color: forestgreen">@Model.Message</h3>

<div class="column">
    <div class="row-md-4">
        <h2>Description</h2>
        <p>
            Founded in 2018 by California adventurers Daniel Foster and Vahe Ohanian
            during college, Yosemite Fishing Rental was designed as the sole source for
            fishing activities in Yosemite Valley.<br /><br />
            <strong>Our main goals for starting the business were two-fold:</strong>
            <img src="http://farm4.staticflickr.com/3036/2626983358_aae8dc35d2_z.jpg" alt="Yosemite Fishing" style="float:right;width:600px;height:300px;" />
            <br />
            - Share our passion for fishing and the outdoors.<br />
            - Bring safe and sustainable fishing to the Merced River.<br />
            <br />
            Beneath, you can see a picture of our main office.  While it may seem small,
            rest assured that we can supply you with any fishing equipment you may need so
            that you don't need to fill your luggage with your cumbersome fishing equipment.
            Additionally, please keep in mind that our vision for fishing in the valley includes
            beginning and expert fisherman alike, and our product warehouse includes items
            that cater to all fisherman, young and old, small and large.
            <br /><br />
            Lastly, we offer our sincere wish that all visitors to Yosemite Valley respect
            the wilderness and the regulations set by the Unites States National Park Service.
            Please enjoy the park, partake in the various adventures and activities, and enjoy
            the fishing!
            <br />
            <br />
            <br />
        </p>
    </div>
    <div class="row-md-4">
        <h2>How to use the Site</h2>
        <p>
            This website can be used for information gathering.  We wish to provide potential
            customers with general information about the rental operation so that no stress is
            involved once your vacation begins.  If you need tips as to how to use the website as
            a source, consult the details below:<br />
            - The <strong>Home</strong> page serves as a point of contact for the business.<br />
            - The <strong>About</strong> page (this page) clues you in to how the business works.<br />
            - The <strong>Products</strong> page supplies customers with the current list of rentable or purchasable products, including prices and quantities.<br />
            - The <strong>Rentals</strong> page (available only to admins or employees) is an internal database of all orders.<br />
            - The <strong>Contact</strong> page details our contact information.<br />
            <br />
            Please select the link below for the Yosemite National Park Home Page, provided and managed by the United States National Park Service.
        </p>
        <p>
            <a class="btn btn-default"
               href="https://www.nps.gov/yose/index.htm">
                Yosemite Home Page &raquo;
            </a>
        </p>
    </div>
    <div class="row-md-4">
        <img src="https://i.pinimg.com/736x/ca/fe/ab/cafeab10f4ac9965d32914e4d3f869d5.jpg" alt="Main Office Building" style="float:right;width:600px;height:300px;" />
        <h2>Some of our rental products include the following:</h2>
        <p>
            - Fishing poles, supplies, and tackle<br />
            - Live and dead bait<br />
            - Rafts and boats for day trips on the river<br />
            - Individual specialty lines and lures, jigs, and rigs<br />
            - Fly-fishing rods<br />
            - Life vests, waders, and water shoes<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </p>
    </div>
    <div class="row-md-4">
        <h2>Rules and Regulations</h2>
        <p>
            Please read the information linked below to explore the official rules and regulations
            provided by the National Park Service for issues such as overfishing, fishing equipment,
            and timing.<br /><br />
            Additionally, we have provided a link to Yosemite Valley's current weather conditions.<br />
        </p>
        <p>
            <a class="btn btn-default"
               href="https://www.nps.gov/yose/planyourvisit/fishing.htm">
                Yosemite Fishing Regulations &raquo;
            </a>
        </p>
        <p>
            <a class="btn btn-default"
               href="https://www.nps.gov/yose/planyourvisit/conditions.htm">
                Yosemite Current Conditions &raquo;
            </a>
        </p>
    </div>
</div>
