@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2 style="color: cornflowerblue">@ViewData["Title"]</h2>
<h3 style="color:forestgreen">@Model.Message</h3>

<address>
    Yosemite Valley Way<br />
    Yosemite National Park, CA 92115<br />
    Phone: (619)565-4555
</address>

<address>
    <strong>General Questions/Comments:</strong> <a href="mailto:yosfishingrental@yosvalley.com">yosfishingrental@yosvalley.com</a><br />
    <strong>Business Inquiries/Jobs:</strong> <a href="mailto:yosfishingrental-business@yosvalley.com">yosfishingrental-business@yosvalley.com</a>
</address>

<div>
    <p>
        <strong>Season:</strong> Our rental service is usually open early May through late September, weather an water conditions permitting.  
        We comply with all National Park Service rules and regulations, and safety is our main concern.
    </p>
    <p>
        <strong>Hours:</strong> Monday-Sunday, 8am-5pm
    </p>
    <p>
        Please allow at least 24 hours return time for any questions or comments.
        We will do our best to return all inquiries as soon as possible.  <strong>Our only
        concern is your safety and satisfaction!</strong>
    </p>
</div>
