@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" align="center" style="background-color: white">
    <h1 style="color:cornflowerblue"><strong>Yosemite Fishing Rental - Yosemite Valley</strong></h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Yosemite_Valley_from_Wawona_Tunnel_view%2C_vista_point..JPG/1200px-Yosemite_Valley_from_Wawona_Tunnel_view%2C_vista_point..JPG" alt="Yosemite Valley" style="width:800px;height:400px;" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: forestgreen">Welcome to Yosemite Fishing Rental, located in beautiful Yosemite Valley, California!</h2>
        <p>
            Our rental business provides a high quality and cost effective
            rental service for fishing equipment, tackle, and bait.  We now
            rent boats and rafts!
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color: forestgreen">Create an account now to view our rental products:</h2>
        <p>
            Creating an account makes renting super fast and easy.  Provide
            a valid email address to view our available rentals and be notified
            of rental updates.  Please leave a review!
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color: forestgreen">Follow us on our social media!</h2>
        <p>Follow us on Twitter to receive weather/condition updates.</p>
        <p>
            <a class="btn btn-default"
               href="https://sdsu.edu/">
                Twitter &raquo;
            </a>
        </p>
        <p>Follow us on Instagram for a $5 discount on your first rental!</p>
        <p>
        <a class="btn btn-default"
           href="https://sdsu.edu/">
            Instagram &raquo;
        </a>
        </p>
    </div>
</div>

<div align="center">
    <br />
    <br />
    <p>
        <strong>This is a small web application that both customers and employees can use.  This is for a fictitous business!</strong>
    </p>
</div>
