@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
<div class="jumbotron" align="center" style="background-color: white">
    <h1 style="color:cornflowerblue"><strong>Yosemite Fishing Rental - Yosemite Valley</strong></h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Yosemite_Valley_from_Wawona_Tunnel_view%2C_vista_point..JPG/1200px-Yosemite_Valley_from_Wawona_Tunnel_view%2C_vista_point..JPG" alt="Yosemite Valley" style="width:800px;height:400px;" />
</div>--->

<div class="jumbotron" align="center" style="background-color: white">
    <h1 style="color:cornflowerblue"><strong>Yosemite Fishing Rental - Yosemite Valley</strong></h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div align="center" class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Yosemite_Valley_from_Wawona_Tunnel_view%2C_vista_point..JPG/1200px-Yosemite_Valley_from_Wawona_Tunnel_view%2C_vista_point..JPG" alt="Yosemite Valley" style="width:1025px;height:450px;" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <strong>Yosemite Valley, in Half Dome's Shadow</strong>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="http://www.yosemite.ca.us/library/maps/yosemite_valley_map_1978.jpg" alt="Yosemite Valley Map" style="width:1025px;height:450px;" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <strong>Yosemite Valley Directional Map</strong>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="http://1.bp.blogspot.com/_LMOpW9X67Ps/TSx4Uw4MFRI/AAAAAAAAAAU/aotNsqRziPY/s1600/FishingEquipment.gif" alt="High Quality Fishing Gear" style="width:1025px;height:450px;" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <strong>A Brief Overview of Our High Quality Gear</strong>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://odis.homeaway.com/mda01/0de8da52-ba0b-4a2f-bb8f-68cad176590a.1.10" alt="Yosemite Fishing Rental" style="width:1025px;height:450px;" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <strong>Rental Office and Distribution</strong>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2 style="color: forestgreen">Welcome to Yosemite Fishing Rental, located in beautiful Yosemite Valley, California!</h2>
            <p>
                Our rental business provides a high quality and cost effective
                rental service for fishing equipment, tackle, and bait.  We now
                rent boats and rafts!
            </p>
        </div>
        <div class="col-md-4">
            <h2 style="color: forestgreen">Create an account now to view our rental products:</h2>
            <p>
                Creating an account makes renting super fast and easy.  Provide
                a valid email address to view our available rentals and be notified
                of rental updates.  Please leave a review!
            </p>
        </div>
        <div class="col-md-4">
            <h2 style="color: forestgreen">Follow us on our social media!</h2>
            <p>Follow us on Twitter to receive weather/condition updates.</p>
            <p>
                <a class="btn btn-default"
                   href="https://sdsu.edu/">
                    Twitter &raquo;
                </a>
            </p>
            <p>Follow us on Instagram for a $5 discount on your first rental!</p>
            <p>
                <a class="btn btn-default"
                   href="https://sdsu.edu/">
                    Instagram &raquo;
                </a>
            </p>
        </div>
    </div>

    <div align="center">
        <br />
        <br />
        <p>
            <strong>This is a small web application that both customers and employees can use.  This is for a fictitous business!</strong>
        </p>
    </div>
